@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.content {
    -fx-background-color: #51515b;
    -fx-font-family: 'Oswald', sans-serif;
    -fx-text-fill: #eee;
}

.label {
    -fx-text-fill: #eee;
}

.menu-bar {
    -fx-background-color: #424249;
}
.menu {
    -fx-label-padding: 3px;
}
.menu .label, .menu-item .label {
    -fx-text-fill: #eee;
}
.menu:hover, .menu:showing {
    -fx-background-color: rgba(0, 0, 0, 0.2);
}
.menu-item:focused {
    -fx-background-color: rgba(0, 0, 0, 0.4);
}
.context-menu {
    -fx-background-color: rgba(0, 0, 0, 0.3);
}

.button {
    -fx-background-color: #eee;
}
